.header {
    background-color: #006666;
    color: white;
    min-height: 200px;
    padding: 120px 20px; 
    padding-bottom: 20px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 3rem;
    text-shadow: 2px 7px #000000;
  }
  